.pop-up-menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    left: 30;
  }
  
  .menu-item {
    padding: 15px 20px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    width: 80%;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    top: 5px;
    margin: 0 auto;
  }
  
  .menu-item:hover {
    background-color: #e0e0e0;
  }
  