@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


::selection {
  background-color: var(--primary-color);
  color: #fff;
}

.popup-menu {
  position: fixed;
  top: 70px;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--popup-menu-color);
  transition: var(--tran-05);
  z-index: 10;
}


.popup-menu.close {
  width: 88px;
}

.popup-menu li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.popup-menu a {
  display: flex;
  align-items: center;
  width: 100%;
}

.popup-menu .icon {
  min-width: 60px;
  border-radius: 6px;
}

.popup-menu.close .popup-menu-text {
  display: none;
}

.popup-menu .popup-menu-text {
  display: none;
  transition: all 0.3s;
  white-space: nowrap;
  margin-left: 4px;
}

.popup-menu li:hover .popup-menu-text {
  display: inline;
}

.popup-menu:not(.close) .popup-menu-text {
  display: inline;
}