.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vh;
  padding: 10px 30px;
  background-color: rgba(10, 149, 241, 0.9); 
  border-bottom: 1px solid #e0e0e0;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 50px 20px;
  top: 0; 
  left: 48%; 
  right: 50%;
  position: fixed; 
  transform: translateX(-50%); 
  backdrop-filter: blur(10px); 
  z-index: 1000; 
}
  
  .social-score{
    font-size: 14px;
  }
  .title {
    font-size: 20px;
  }
  
  .menu-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  