
.right-bar {
    position: fixed;
    width: 320px;
    height: 100%;
    background-color: transparent;
    overflow-y: auto;
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    box-shadow: -2px 3px 10px rgba(223, 222, 222, 0.589);
    transform: scale(0.9);
}

.active-members h2, .groups h2 , .most-populars h2 {
    color: #f1f1f1;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 15px;
    text-align: center; 
    min-height: 100px;
    color: #3a3a3a;
}

.active-members, .groups ,.most-populars {
    margin-bottom: 30px;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%; 
    color: #3a3a3a;
    box-shadow: -2px 0 10px rgba(0,0,0,0.2);
}

.group-tab {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center; 
}

.group-tab span {
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
    background-color: #3a3a3a;
    color: #b5b5b5;
    transition: all 0.3s ease;
    text-align: center; 
}

.group-tab span:hover {
    background-color: #4a4a4a;
}

.group-tab .active {
    background-color: #0077b5;
    color: #fff;
}
