.create-post-area {
    display: flex;
    flex-direction: column;
    padding: 10px 8px 0 40px;
    background-color: #fff;
    border: 2px solid #e1e4e8;
    width: 65vh;
    min-height: 120px;
    height: fit-content;
    position: fixed;
    bottom: 10px;
    left: 10px; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    z-index: 20;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform-origin: left center;
    scale: 0.8;
}

.expand {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
  }
  
  .collapse {
    transform: scale(0.95);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0s 0.3s;
  }


.menu-toggle-btn {
    position: fixed; 
    bottom: 10px;
    left: 10px; 
    z-index: 30; 
  }
  
  .menu-toggle-btn.hidden {
    display: none; 
  }

.create-post-area textarea {
    width: 100%;
    min-height: 100px;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #e1e4e8;
    border-radius: 8px; 
    resize: vertical; 
    outline: none; 
}

.submit-post {
    width: 100px;
    align-self: flex-end;
    padding: 10px 20px;
    height: calc(100% - 20px);
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 15px;
    position: relative; 
    bottom: 5px;
}


.shortcut-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px; 
    left: 0;
    display: flex;
}

.shortcut-menu li {
    margin: 0;
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 8px;
}

.shortcut-menu li + li {
    margin-left: 5px;
}

.shortcut-menu li:hover {
    background-color: #e1e4e8;
}

.icon-link, .icon-image, .icon-highlight {
    font-size: 20px; 
}