.groups {
    padding: 20px;
  }
  
  .groups h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .groups ul {
    list-style-type: none;
    padding: 0;
  }
  
  .groups li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  