body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
}

.navbar {
  background-color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.hero {
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.main-container {
  display: flex;
  justify-content: space-between; 
  margin: 20px;
}

.content {
  flex: 1; 
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-right: 20px;
}

.sidebar {
  width: 300px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sidebar h3 {
  color: #333333;
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 2px solid #eaeaea; 
  padding-bottom: 5px; 
}

.sidebar ul {
  list-style: none;
  padding: 0; 
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: #007bff; 
  text-decoration: none; 
  font-size: 16px; 
}

.sidebar a:hover {
  background-color: #f2f2f2; 
  color: #333; 
  padding: 3px; 
  border-radius: 5px;
}



@media (max-width: 768px) {
  .main-container {
      flex-direction: column;
  }

  .content, .sidebar {
      width: 100%; 
      margin-right: 0; 
  }

  .sidebar {
      margin-top: 20px; 
  }
}


.blog-detail-image{
width: 800px;
height: 380px;
text-align: center;
align-items: center;
margin: 0 auto;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .main-container {
      flex-direction: column;
  }

  .content, .sidebar {
      width: 100%;
      margin-right: 0;
  }

  .sidebar {
      margin-top: 20px;
  }
}
