.post-content {
    position: fixed; 
    top: calc(200px + 140px); 
    left: 25%;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    width: 50vh; 
    margin: 0 auto; 
}

.post-content p {
    font-size: 18px;
    color: #333;
}
