.post-content {
    position: fixed; 
    top: 280px;
    left: 250px; 
    right: 250px; 
    bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    width: calc(100% - 560px); 
    height: 100%; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: 0 auto;
}

.text-posts {
    max-width: 500px;
    width: 100%;
    background-color: #f5f8fa; 
    padding: 15px 20px;
    border-radius: 15px; 
    border: 1px solid #e1e4e8; 
    box-shadow: 0 2px 15px rgba(0,0,0,0.1); 
}

.post-content p {
    font-size: 18px;
    color: #14171a; 
    text-align: left;
    margin: 0;
    line-height: 1.5; 
}